POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
AIRFLOW_HOME=/path/to/your/airflow
S3_BUCKET=your_bucket_name
S3_ENDPOINT=https://storage.yandexcloud.net
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
